main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    font-size: xx-large;
    font-weight: bolder;
}

figure {
    background-color: goldenrod;
}

figcaption {
    text-align: center;
    font-size: xx-large;
    background-color: goldenrod;
    padding-bottom: .5em;
}

img {
    border: 10px solid goldenrod;
}