* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 1000px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/images/ice.jpg);
}

li {
    display: flex;
   
    padding: 5rem;
}

#navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    background-color: #3e4dd0;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
    font-weight: bold;
}

.nav-list a {
    display: block;
    padding: 1.5rem;
    font-size: xx-large;
    color: #c02a4f;
}

.nav-list a:hover {
    background-color: #c02a4f;
    color:#3e4dd0;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f153a;
    height: 100vh;
    font-size: 5rem;
    color: #c02a4f;
}

.projects-grid {
    padding: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #1f153a;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    padding-right: 1rem;
}

#projects h1 {
    background-color: #c02a4f;
    color: #1f153a;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 1.5rem;
    font-weight: 900;
}

#projects img {
    margin: 1em 1em;
    border: 10px solid #c02a4f;
}

.projects-grid img:hover {
    box-shadow: 0px 0px 30px #c02a4f;
}

figcaption {
    text-align: center;
    font-size: xx-large;
    color: #c02a4f;
    margin-bottom: 1.5em;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: #c02a4f;
}

#contact h1 {
    font-size: 4rem;
    padding: 3rem 0;
    color: #1f153a;
}

#contact p {
    font-size: xx-large;
    padding-bottom: 2rem;
    color: #1f153a;
}

#contact div {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

#contact div a {
    margin: 0 2rem;
    font-size: 2rem;
    text-shadow: 2px 2px 2px 1px #1f153a;
    transition: transform 0.3s ease-out;
    color: #1f153a;
}

#contact div a:hover {
    transform: translateY(-8px);
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1.3rem;
    background-color: #1f153a;
    color: #c02a4f;
}

@media (max-width: 1200px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 40%;
    }
}