* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
}

body {
    min-height: 100vh;
    background-color: #0c0229;
}

.pokeGrid {
    margin: 4rem 0 4rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.pokeGrid figure:hover {
    box-shadow: 0px 0px 50px #c02a4f;
    transform: translateY(-8px);
}

header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #c02a4f;
    color: #1f153a;
    font-weight: bolder;
    justify-content: space-around;
}

header h1 {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-size: 4em;
    font-weight: bolder;
}

header button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    justify-content: space-around;
    margin: 2em;
    background-color: #1f153a;
    color:#c02a4f;
    margin-top: 7.5em;
    padding: 1.3em;
    font-size: large;
    border: solid 5px #3e4dd0;
    border-radius: 15%;
    float: left;
    cursor: pointer;
}


#navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    background-color: #3e4dd0;
    list-style-type: none;
    z-index: 9999;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: circle;
    font-weight: bold;
    text-decoration:solid;
}

.nav-list a {
    display: block;
    padding: 1.5rem;
    font-size: xx-large;
    color: #c02a4f;
    list-style-type: none;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #c02a4f;
    color:#3e4dd0;
}

.scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    margin: .5rem;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 5px #011afd;
}

.front {
    background: #3e4dd0;
    color: #1f153a;
    font-size: x-large;
    font-weight: bold;
   
}

figcaption {
    display: flex;
    justify-content: center;
}

.back {
    background: #c02a4f;
    transform: rotateY(180deg);
    color: #1f153a;
    font-size: x-large;
}

ul li{
    list-style-type: upper-roman;
    padding: .1em;
    margin-left: .1em;
}

h4 {
    padding: .7em;
    display: flex;
    justify-content: center;
}

figure img {
    width: 200px;
}

#Pokemon {
    background-color: #c02a4f;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1.3rem;
    background-color: #c02a4f;
    color: #1f153a;
    position: sticky;
    top: 100%;
}