* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth;
}

#main {
    display: flex;
    background: url(/images//1I3yb5l.jpg) no-repeat;
    justify-content: center;
}

#main li {
    font-size: medium;
    color: #ffff00;
}

#navbar {
    width: 100%;
    background-color: black;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    justify-content: right;
    margin-right: 10rem;
}

.nav-list a {
    display: block;
    padding: 1.5rem;
    font-size: xx-large;
    color: #ffff00;
}

.nav-list a:hover  {
    transform: translateY(-8px);
    transition: all 0.5s ease;
}

.nav {
    margin: 1em;
    font-size: x-large;
    margin-left: 10rem;
}

.navList {
    justify-content: right;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    background-color: none;
    color: #ffff00;
    padding: .5em;
    display: flex;
    justify-content: center;
}

.displaySection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#film {
    background-color: #000000c3 !important;
}

.box {
    background-color: #3e4dd0;
    text-align: center;
    color: ghostwhite;
}

img {
    width: 700px;
    height: 600px;
    border: 10px solid #ffff00;
    border-radius: 5px;
    pointer-events: none;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: #f3f35cc9;
}