* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}




header {
    display: flex;
    justify-content: space-evenly;
    background-color: #c02a4f;
    padding: 2em 0;
    padding-top: 7.5em;
}

#navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    background-color: #3e4dd0;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
    font-weight: bold;
}

.nav-list a {
    display: block;
    padding: 1.5rem;
    font-size: xx-large;
    color: #c02a4f;
    list-style-type: none;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #c02a4f;
    color:#3e4dd0;
}


body {
    background-color: #1f153a;
    min-height: 100vh;
}

button {
    font-size: x-large;
    border-radius: 20px;
    background-color: #1f153a;
    color: #c02a4f;
    padding: .8em;
}

button:hover {
    background-color: #3e4dd0;
    color: crimson;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

figure {
    margin: 4px;
    padding: .8em;
}

figure img {
    width: 230px;
    border: 10px solid #3e4dd0;
    border-radius: 30em;
}

figcaption {
    text-align: center;
    color: ghostwhite;
    font-size: large;
    background-color: #3e4dd0;
    font-weight: bolder;
    padding: .5em;
    border-radius: 30em;
    margin-top: .3em;
    margin-bottom: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1.3rem;
    background-color: #c02a4f;
    color: #1f153a;
    position: sticky;
    top: 100%;
}
