* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    padding-top: 7.5em;
}

#navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
}

.nav-list {
    display: flex;
    margin-right: 10rem;
    list-style-type: none;
    font-weight: bold;
}

.nav-list a {
    display: block;
    padding: 1.5rem;
    font-size: xx-large;
    color: #ffff00;
    list-style-type: none;
    text-decoration: none;
}

.nav-list a:hover {
    transform: translateY(-8px);
    transition: all 0.5s ease;
}


body {
    background: url(/images/T3xqnS\ \(Large\).jpeg);
    min-height: 100vh;
}

button {
    font-size: x-large;
    border-radius: 20px;
    background-color: #ffff00;
    color: black;
    padding: .8em;
}

button:hover {
    transform: translateY(-8px);
    transition: all 0.5s ease;
    cursor: pointer;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

figure {
    margin: 4px;
    padding: .8em;
}

figure img {
    width: 230px;
    border: 10px solid #2ea0df;
    border-radius: 10em;
}

figcaption {
    text-align: center;
    color: ghostwhite;
    font-size: large;
    background-color: #2ea0df;
    font-weight: bolder;
    padding: .5em;
    border-radius: 30em;
    margin-top: .3em;
    margin-bottom: 1.5em;
}

strong {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: x-large;
    color: #ffff00;
    text-decoration: none;
}

a{
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1.3rem;
    background-color: black;
    color: #f3f35cc9;
    position: sticky;
    top: 100%;
}
